---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Foma - Premium App Development for Traffic Arbitrage</title>
    <meta name="description" content="High-quality applications with 90% store approval rate. Custom design and advanced cloaking solutions." />
    <link rel="stylesheet" href="https://sf.abarba.me/SF-UI-Display-Regular.otf" />
    <link rel="stylesheet" href="https://sf.abarba.me/SF-UI-Display-Bold.otf" />
    <!-- Ensure correct Content-Security-Policy for inline scripts -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'SF Pro Display';
    src: url('https://sf.abarba.me/SF-UI-Display-Regular.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'SF Pro Display';
    src: url('https://sf.abarba.me/SF-UI-Display-Bold.otf');
    font-weight: bold;
    font-style: normal;
  }

  html {
    scroll-behavior: smooth;
  }
</style>